$primary-color: #010014;
$secondary-color: #13103b;
$primary-font-color: #c8c7c9;
$mobile-breakpoint: 375px;

body {
  margin: 0;
  font-size: 16px;
  font-family: sans-serif;
}

input,
select {
  padding: 0.5rem;
  border: none;
  font-size: 1rem;
  border-radius: 0.25rem;
  background: $secondary-color;
  color: $primary-font-color;
}

.card {
  background: rgba(256, 256, 256, 0.5);
  border-radius: 1rem;
}

* {
  box-sizing: border-box;
}

main {
  margin: 2rem 6rem 0;
}

@media (max-width: $mobile-breakpoint) {
  main {
    margin: 1rem;
  }
}
