.navigator {
  display: flex;
  justify-content: end;
  border-bottom: 1px solid $secondary-color;
  padding: 1rem;
  background: $primary-color;
}

.search-container {
  width: 50%;
  display: flex;
  justify-content: center;

  input {
    width: 60%;
  }
}

.fav-container {
  width: 25%;
  display: flex;
  justify-content: end;
}

.save-fav-btn {
  background: none;
  border: none;
  cursor: pointer;
}

@media (max-width: $mobile-breakpoint) {
  .navigator {
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
  }

  .search-container {
    width: 100%;

    input {
      width: 95%;
    }
  }

  .fav-container {
    width: 100%;
    justify-content: center;

    select {
      width: 95%;
    }
  }
}
